*{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
 --main-clr-1: #b71c1c;
 --main-clr-1-highlight: #e57373;
 --main-clr-2: #000000;
 --main-clr-3: #797A9E;
 --main-clr-4: #F7F7FF;
 --main-clr-5: #72727E;
 --sans-ser: Kanit, sans-serif;
 --ara-f: Arapey, serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.titlehead{
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
  text-align: left !important;
  padding: 1vh 1.5vw !important;
}

.navlinks:hover{
  background-color: var(--main-clr-1-highlight) !important;
}

a{
  text-decoration: none !important;
  color: white !important;
}

.navlinks{
  padding: 1vh;
}

.mainnav{
  padding-bottom: 1vh solid var(--main-clr-1-highlight) !important;
}

/* .body-content{
  height: 100%;
} */

.body-content h1{
  margin-top: 0;
}

footer{
  margin-top: auto !important;
  /* bottom: 0 !important; */
  position: absolute;
  /* bottom: 0 !important; */
  width: 100%;
  /* padding-bottom: 1vh; */
  border-bottom: 1vh solid var(--main-clr-1);
}

.main-container{
  padding: 3vh 0;
  /* border: 1px solid var(--main-clr-3); */
  border-radius: 3px;
  /* box-shadow: 3px 3px 3px rgb(84, 84, 84, 0.3); */
  box-shadow: 7px 7px var(--main-clr-1);
  margin-bottom: 2vh;
  font-family: var(--ara-f);
}

.stretch{
  min-height: 80vh;
}

.contact-box{
  background-color: var(--main-clr-3) !important;
  margin-top: 1vh !important;
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(0,0,0,0.5);
}

.contact-box p{
  font-weight: 500 !important;
}

.contact-box span{
  font-weight: 600 !important;
}

.main-container .section .card{
  border: 1px solid #b71b1b;
  box-shadow: 6px 6px 3px rgb(0, 0, 0, 0.4);
}

.page-footer{
  font-weight: 800 !important;
}

.s-s{
  font-family: var(--sans-ser);
}
.ara{
  font-family: var(--ara-f);
}
/* potential footer stickey */
/* .body-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
} */